/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.character-card:hover {
  background-color: #f0f0f0;
  transform: scale(1.05); /* Enlarge card on hover */
}

.character-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f0f0f0;
}

.thumb {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
  animation: thumbMove 3s ease-in-out infinite, thumbBounce 1s ease-in-out infinite;
}

@keyframes thumbMove {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes thumbBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal.active {
  display: block;
}
